*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 0 50px;
}

.logo{
    width: 100px;
}

.body{
    padding: 0px 50px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li{
    margin: 10px;
    padding: 10px;
}

.card-restaurant{
    padding: 5px;
    /* height: 300px; */
    width: 200px;
    background-color: #f0f0f0;
   
}

.container-restaurant{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.card-restaurant:hover{
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.search{
    padding: 0 50px;
    border: 2px solid lightgrey;
}

.logo-restaurant{
    width: 100%;
}

